.o-carrito-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.o-title-carrito {
  margin: 3rem 0rem;
  font-weight: bold;
  text-align: center;
}

.o-item-delete-style {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 12px;
}

.o-aside-carrito {
  position: sticky;
  top: 2rem;
  height: 100%;
}

.o-fix-card-carrito {
  width: 40rem;
}

.o-fix-pay-carrito {
  width: 20rem;
}

.o-btn-bottom-carrito {
  margin: 2rem 0rem;
}

@media (max-width: 975px) {
  .o-carrito-container {
    flex-direction: column;
    align-items: center;
  }

  .o-fix-card-carrito {
    width: 90vw;
  }

  .o-fix-pay-carrito {
    width: 90vw;
    margin-bottom: 2rem;
  }
}
