.item {
  font-size: 20px;
  color: aliceblue;
}

.icono-1 {
  color: whitesmoke;
  font-size: 20px;
  margin-right: 4rem;
}
.navbar-brand > img {
  margin-left: 2rem;
}
.select-items {
  color: whitesmoke;
  text-decoration: none;
  padding: 1rem 0.5rem;
}
.select-color:hover {
  color: rgb(228, 94, 94);
  transition: all 1s;
}
.select-items:hover {
  color: rgb(228, 94, 94);
  transition: all 1s;
}

.icono-1:hover {
  font-size: 25px;
}

.logo {
  width: 10rem;
  height: auto;
}

.active {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 1rem 1.4rem;
  color: rgb(228, 94, 94);
}

/* new styles */

nav {
  height: 16vh;
}

.nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.nav-container-main-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  margin: 0rem calc(6rem - 5.8rem);
}

.nav-item {
  display: flex;
  list-style: none;
  width: 100%;
  /* height: 200vh; */
  justify-content: space-around;
}

@media screen and (max-width: 1210px) {
  .navbar-brand > img {
    margin-top: 2rem;
  }
  li {
    font-weight: bold;
    margin: 0rem;
    font-size: 1rem;
    margin: 0rem 2rem;
    width: 8rem;
    text-align: center;
  }

  ul {
    text-decoration: none;
    list-style: none;
  }
  .select-items {
    color: whitesmoke;
  }

  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-item {
    position: fixed;
    clip-path: circle(100px at 90% -10%);
  }

  .container-nav-little {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50vh;
    width: 100%;
    padding: 0rem !important;
    margin: 0rem !important;
  }

  .icono-1 {
    margin: 0rem;
  }

  .active {
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    padding: 1rem 1.4rem;
    color: rgb(228, 94, 94);
  }
}
