/* Mapa styles */
.o-mapa-container {
  padding: 2rem;
}

.o-mapa-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 260px;
  padding: 2rem;
}

.o-mapa-item {
  margin: 12px 0px;
  color: black;
  text-decoration: none;
}

.select-item:hover {
  color: rgb(228, 94, 94);
  transition: all 1s;
}

.o-mapa-list > li {
  margin-bottom: 1rem;
}
