/* Slider styles */
.o-slider-container {
  margin: 2rem 0rem;
}

.o-slide-inicio {
  width: 100%;
  height: 100vh;
  object-fit: contain;
}

.o-container-slider-item {
  position: relative;
  text-align: center;
}

.o-mensaje-slider {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

/* description products */
.o-img-info {
  width: 20rem;
  height: 20rem;
  margin: 1rem 5rem;
}

.o-img-info-featured {
  width: 13rem;
  height: 13rem;
  align-items: center;
  margin: 1rem 0rem;
}

.o-btn-info {
  background-color: black;
  color: white;
  padding: 0.5rem;
  font-size: 1.3rem;
  text-decoration: none;
}

.o-description-container-text {
  background-color: #393d4e;
  color: white;
  padding: 3rem;
}

.o-description-container-text > h3 {
  font-weight: bold;
}

.o-description-container-featured-item > h6 {
  margin-bottom: 1rem;
}

.o-description-container-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.o-description-title-featured {
  text-align: center;
  font-weight: bold;
}

.o-description-tf {
  margin: 1rem 0rem;
}

.o-description-container-featured {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.o-description-container-featured-item {
  text-align: center;
  width: 100px;
}

.o-description-container-featured-fix2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* testimonios styles */
.container-testimonio {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0rem;
  background-color: #393d4e;
}

.o-testimonio-title {
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 3rem;
}

.o-testimonio-fix {
  width: 50%;
}

.testimonio-img {
  height: 100%;
}
