.textitulos{
    resize: none;
    width: 200px;
    height: 40px;
    font-size: 25px;
    overflow:hidden;

}

.textareas{
    resize: none;
     width: 500px;
    height:150px;
    overflow:visible;

}



@media (max-width: 600px) {
    .textitulos{
    overflow: auto;
        resize: none;
        width: 200px;
        height: 50px;
    }
    .textareas{
        margin: 5px;
        resize: none;
        width: 300px;
        height:150px;
    }
    
  }